<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout/main}">
<div layout:fragment="content">
    <div>
        <form th:action="@{/contacts}" method="post">
            <div><label> Contact Name : <input type="text" name="contactName"/> </label></div>
            <div><label> Phone Number: <input type="text" name="phone"/> </label></div>
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
            <button type="submit">Добавить</button>
        </form>
    </div>
    <div>Список контактов</div>
    <table border="1">
        <tr>
            <th>Имя</th>
            <th>Телефон</th>
        </tr>
        <tr th:each="contact : ${contacts}">
            <td th:text="${contact.contactName}">Имя</td>
            <td th:text="${contact.phone}">Телефон</td>
        </tr>
    </table>

</div>
</html>