<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout/main}">
<div layout:fragment="content">

    <div class="my-3 p-3 bg-body rounded shadow-sm">
        <h3 class="border-bottom pb-2 mb-2">Contact list</h3>
        <div class="table-responsive">
            <table class="table table-striped table-hover table-sm ">
                <thead class="table-secondary">
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Phone</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="contact : ${contacts}">
                        <td th:text="${contact.contactName}">Имя</td>
                        <td th:text="${contact.phone}">Телефон</td>
                    </tr>
                </tbody>
            </table>
            <a href="/contacts/add" class="btn btn-secondary" role="button">Add contact</a>
        </div>
    </div>
</div>
</html>