<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout/main}">
<div layout:fragment="content">
    <div class="my-3 p-3 bg-body rounded shadow-sm bs-custom-table">
        <h6 th:text = "#{details.button}" class="border-bottom pb-2 mb-2"></h6>
        <p th:text="${contact.name}">Name</p>
        <p th:text="${contact.phone}">Phone</p>

        <div class="my-3 p-3 bg-body rounded shadow-sm bs-custom-table">
            <h3 th:text = "#{notifications.table}" class="border-bottom pb-2 mb-2"></h3>
            <div class="table-responsive col-auto">
                <table class="table table-striped table-hover align-middle">
                    <thead class="table-secondary">
                    <tr>
                        <th th:text = "#{text.table}" scope="col"></th>
                        <th th:text = "#{date.table}" scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="notification : ${notifications}">
                        <td th:text="${notification.text}">text</td>
                        <td th:text="${notification.date}">date</td>
                    </tr>
                    </tbody>
                </table>
                <a th:text = "#{addNotification.button}" th:href="@{/contacts/details/add/{id}(id=${contact.id})}" class="btn btn-secondary" role="button"></a>
            </div>
        </div>
    </div>


</div>
</html>