<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout/main}">
<div layout:fragment="content">

    <div class="my-3 p-3 bg-body rounded shadow-sm bs-authreg-container">
        <h6 th:text = "#{registration.form}" class="border-bottom pb-2 mb-2"></h6>
        <form th:action="@{/register}" th:object="${newAccount}" method="post" class="my-4">
            <div class="mb-3">
                <label th:text = "#{login.form}" for="login" class="form-label"></label>
                <input type="text" class="form-control" id="login" name="username">
                <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username error</div>
            </div>
            <div class="mb-3">
                <label th:text = "#{password.form}" for="pass" class="form-label"></label>
                <input type="password" class="form-control" id="pass" name="password">
                <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password error</div>
            </div>
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
            <button th:text = "#{button.register}" type="submit" class="btn btn-secondary">Register</button>
        </form>
    </div>

</div>
</html>